div.SignUp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

div.SignUp div.form-signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

div.SignUp div.form-signUp h1 {
  font-size: 40px;
  font-weight: 550;
  color: #101828;
}

div.SignUp div.form-signUp div.wcBack {
  color: #586283;
  margin-top: 20px;
}

div.SignUp div.form-signUp form {
  margin-top: 40px;
}

div.SignUp div.form-signUp form input {
  width: 350px;
  height: 45px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
  border: 1px solid #e5e7ef;
}

div.SignUp div.form-signUp form button.submitBtn {
  width: 350px;
  height: 45px;
  border-radius: 50px;
  background-color: #f5c000;
  color: white;
  border: none;
}

div.SignUp div.form-signUp div.otherSignin {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
  position: relative;
}

div.SignUp div.form-signUp div.otherSignin div img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 6px;
  left: 80px;
}

div.SignUp div.form-signUp div.otherSignin button {
  width: 350px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #e5e7ef;
  background-color: white;
}

div.SignUp div.form-signUp p.text {
  margin-top: 20px;
}
