div.yourCourse {
  margin: 30px 10px 20px 50px;
}

div.yourCourse div.search-frame {
  display: flex;
  flex-direction: row;
  position: relative;
}

div.yourCourse div.search-frame input {
  width: 400px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #eff1f5;
  padding-left: 50px;
  font-size: 18px;
  box-shadow: 5px 5px 50px 0 #d5dae7;
}

div.yourCourse div.your-listCourse {
  margin-top: 50px;
}
